@import 'assets/styles/constants';

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tabsContainer {
  position: relative;
  top: 50%;
  transform: translateY(-70%);
  margin-left: -4rem;
  padding: 8rem 0 8rem 4rem;
  background: url('../../../shared/assets/images/bg.svg') no-repeat;
  background-size: contain;
}

.tabsMainWrapper {
  display: flex;
  flex-direction: column;
  gap: 15rem;
  max-width: 60rem;
}

.tabsItemsWrapper {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
}

.itemContentWrapper {
  max-height: 12rem;
}
