@import "assets/styles/constants";

.signin {
  display: flex;
}

.btn {
  display: flex;
  align-items: center;

  background-color: unset;
  border: unset;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.text {
  font-size: $l;
  font-weight: $semi-bold;
}
