/** Colors */
$coral-blush: oklch(84% 0.09 31);
$dusty-rose: oklch(90.41% 0.045 29.92);
$whispering-white: oklch(95.42% 0.012 29.87);
$apricot-cream: oklch(91.3% 0.045 62);
$apricot-burst: oklch(87% 0.09 61.75);

/** Font-size */
$xxl: 5.6rem;
$l: 2.4rem;

/** Font-weight */
$bold: 700;
$semi-bold: 600;
