/** Colors */
$coral-blush: oklch(84% 0.09 31);
$dusty-rose: oklch(90.5% 0.45 30);
$whispering-white: oklch(95.5% 0.012 30);
$apricot-cream: oklch(91.3% 0.045 62);
$apricot-burst: oklch(87% 0.09 61.75);
